.search-form {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($black, 0.90);
    z-index: 999;
    display: none;

    .search-relative {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        @include xs {
            align-items: flex-start;
            padding-top: 150px;
        }

        .close-btn {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 40px;
            opacity: 1;
            font-size: 24px;
            color: $fff;
            cursor: pointer;
            @include transition(all 0.3s ease-in-out);

            &:hover {
                color: $text;
            }
        }
    }

}


.search-cont {
    position: relative;
    height: 70px;
    width: 750px;
    transform: scaleX(0);
    @include transition(all 0.5s ease-in-out);


    @include xs {
        width: 100%;

    }

    &.search-in {
        transform: scaleX(1);
        transition-delay: 0.2s;

    }
}

.search-button {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: $fff;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $text;
    }
}

.search-input {
    border: none;
    border-bottom: 1px solid $fff;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    padding-right: 75px;
    font-size: 20px;
    text-align: left;
    color: $fff;
    border-radius: 0;
    @include transition(all 0.3s ease-in-out);

    &::placeholder {
        text-align: left;
        color: #7d7d7d;
        font-size: 20px;
        font-family: en-light;
        text-transform: uppercase;
    }
}

//////////////news///////////////

.newsletter-cont {
    position: relative;
}

.newsletter-input {
    background-color: #fff;
    width: 100%;
    height: 44px;
    border-radius: 0;
    padding: 0 23px;
    font-size: 13px;
    text-align: left;
    color: $black;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    @include transition(all 0.3s ease-in-out);

    &::placeholder {
        text-align: left;
        color: $text;
    }

    &:focus {
        border: 1px solid $black;
    }


}

#{$rtl} .newsletter-input {
    text-align: right;

    &::placeholder {
        text-align: right;
    }
}

.newsletter-btn {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: transparent;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: $text;
    @include transition(all 0.3s ease-in-out);
    border: none;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:after {
        content: "\e87a";
        font-family: 'Linearicons-Free';
        font-size: 20px;
        color: $text;
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        &:after {
            color: $black;
        }
    }
}

#{$rtl} .newsletter-btn {
    right: auto;
    left: 18px;

    &:after {
        content: "\e879";
    }
}