.mo-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($black, 0.149);
    z-index: 999;
    display: none;

    .sec-head {
        height: 100%;
        background-color: $fff;
        width: 334px;
        padding: 100px 33px 60px;
        position: relative;
        overflow-y: auto;
        transform-origin: left;
        transform: scaleX(0);
        @include transition(all 0.4s ease-in-out);

        #{$rtl} & {
            transform-origin: right;
        }

        &.nav-in {
            transform: scaleX(1);
        }

        &::-webkit-scrollbar {
            background-color: #fff;
            width: 7px;
            height: 0px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #000;
        }

        scrollbar-width: thin;
        scrollbar-color: #000 #fff;
    }

    .close-btn {
        position: absolute;
        font-size: 24px;
        color: #9a9a9a;
        top: 35px;
        right: 30px;
        @include transition(all 0.3s ease-in-out);
        cursor: pointer;

        #{$rtl} & {
            right: auto;
            left: 30px;
        }

        &:hover {
            color: $black;
        }
    }

    .lang {
        position: absolute;
        font-size: 13px;
        color: #9a9a9a;
        top: 40px;
        left: 33px;
        text-transform: uppercase;
        @include transition(all 0.3s ease-in-out);
        font-family: ar;

        #{$rtl} & {
            right: 33px;
            left: auto;
            font-family: ar;
        }

        &:hover {
            color: $black;
        }
    }

    .nav-li {
        margin-bottom: 20px;
    }

    .nav-anchor {
        font-size: 15px;
        color: $black;
        text-transform: uppercase;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: #9a9a9a;
        }
    }

    hr {
        margin-bottom: 40px;
        margin-top: 40px;
        border: 0;
        border-top: 1px solid #ebebeb;
    }

    .mo-drop-open {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:after {
            content: "\e874";
            font-family: 'Linearicons-Free';
            font-size: 15px;
            @include transition(all 0.4s ease-in-out);
        }

        &.drop-open {
            color: #9a9a9a;

            &:after {
                transform: rotate(-180deg);

                #{$rtl} & {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .mo-drop-ul {
        padding: 10px 15px 0;
        display: flex;
        flex-direction: column;
    }

    .mo-drop-li {
        margin-bottom: 10px;
    }

    .mo-drop {
        display: none;
    }

    .mo-drop-a {
        font-size: 14px;
        color: rgba($black, 0.8);
        text-transform: uppercase;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $black;
        }
    }

    .side-social {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 45px;
    }

    .side-social-link {
        display: flex;
        width: 43px;
        height: 43px;
        align-items: center;
        justify-content: center;
        background-color: $social;
        color: $fff;
        border-radius: 50%;
        font-size: 18px;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            background-color: $black;
        }
    }
}