body {
    position: relative;
    font-family: en;
    overflow: hidden;

    #{$rtl} & {
        font-family: ar;
    }

    &::-webkit-scrollbar {
        background-color: #f7f7f7;
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: #000 #f7f7f7;
}

.overflow {
    overflow: hidden !important;
}

.container {
    @media (min-width: 1440px) {
        width: 1410px;
    }
}