@font-face {
    font-family: 'ar';
    src: url('../fonts/TAJAWAL/TAJAWAL-REGULAR.TTF');
}

@font-face {
    font-family: 'ar-xlight';
    src: url('../fonts/TAJAWAL/TAJAWAL-EXTRALIGHT.TTF');
}

@font-face {
    font-family: 'ar-light';
    src: url('../fonts/TAJAWAL/TAJAWAL-LIGHT.TTF');
}

@font-face {
    font-family: 'ar-med';
    src: url('../fonts/TAJAWAL/TAJAWAL-MEDIUM.TTF');
}

@font-face {
    font-family: 'ar-bold';
    src: url('../fonts/TAJAWAL/TAJAWAL-BOLD.TTF');
}

@font-face {
    font-family: 'ar-xbold';
    src: url('../fonts/TAJAWAL/TAJAWAL-EXTRABOLD.TTF');
}

@font-face {
    font-family: 'ar-black';
    src: url('../fonts/TAJAWAL/TAJAWAL-BLACK.TTF');
}


@font-face {
    font-family: 'en';
    src: url('../fonts/cooper/CooperHewitt-Book.ttf');
}

@font-face {
    font-family: 'en-Thin';
    src: url('../fonts/cooper/CooperHewitt-Thin.ttf');
}

@font-face {
    font-family: 'en-light';
    src: url('../fonts/cooper/CooperHewitt-Light.ttf');
}

@font-face {
    font-family: 'en-med';
    src: url('../fonts/cooper/CooperHewitt-Medium.ttf');
}

@font-face {
    font-family: 'en-semibold';
    src: url('../fonts/cooper/CooperHewitt-Semibold.ttf');
}

@font-face {
    font-family: 'en-bold';
    src: url('../fonts/cooper/CooperHewitt-Bold.ttf');
}


@font-face {
    font-family: 'en-heavy';
    src: url('../fonts/cooper/CooperHewitt-Heavy.ttf');
}