.mo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0;

    @include sm {
        padding: 10px 0 0;
    }

    .logo {
        width: 197px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include sm {
            width: 130px;
        }
    }

    .mo-user-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-anchor {
        font-size: 30px;
        color: $black;
        margin-left: 28px;
        @include transition(all 0.3s ease-in-out);

        #{$rtl} & {
            margin-left: 0;
            margin-right: 28px;
        }

        &:first-of-type {
            margin: 0;

            #{$rtl} & {
                margin: 0;
            }
        }

        &:hover {
            -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
            -webkit-mask-size: 200%;
            animation: shine 2s infinite;
        }
    }

    .mo-log-icon,
    .mo-wishlist-icon {
        @include sm {
            display: none;
        }
    }

    .menu-ico-cont {
        width: 204px;
        display: flex;
        justify-content: flex-start;

        @include sm {
            width: 88px;
        }
    }
}